---
interface Props {
  label: string;
  sub?: string;
  href: string;
}
const { label, sub, href } = Astro.props;
---

<a class="btn" href={href}>
  <span class="btn-label">{label}</span>
  {sub && <span class="btn-sub">{sub}</span>}
</a>
